<!DOCTYPE html>
<html>
<head>
  <title>几米招生--几米网络科技有限公司</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>




<%= yield %>

</body>
</html>
