<div id="footer">
  <div id="jimi_formation">
    <p><span class="footer_left">联系我们：</span><span class="footer_right follow_our">关注我们：</span></p>
    <p><span class="footer_left">地址：河北省石家庄市富强大街49号&nbsp;&nbsp;电话：15690300432</span><span class="footer_right follow_our"><a href="http://weibo.com/p/1005053505602820/home?from=page_100505&mod=TAB#place" target="_blank"><%= image_tag("contents/sina.png", :width => "20%") %></a><a href="http://weibo.com/p/1005053505602820/home?from=page_100505&mod=TAB#place" class="follow" target="_blank">新浪微博</a> </span></p>
    <p><span class="footer_left">e-mail:jimiwangluo@jimitec.com</span><span class="footer_right"><a href="http://weibo.com/p/1005053505602820/home?from=page_100505&mod=TAB#place" target="_blank">@JimiTec</a><a href="http://weibo.com/p/1005053505602820/home?from=page_100505&mod=TAB#place" target="_blank"><%= image_tag("contents/follow.png", :width => "35%", :class => "follow") %> </a></span></p>
    <p>&copy;2013几米网络科技有限公司&nbsp;&nbsp;<a id="website" href="http://www.jimitec.com">www.jimitec.com</a>&nbsp;&nbsp;All&nbsp;rights&nbsp;&nbsp;reserved.</p>
  </div>
</div>