/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


    /*CSS init*/
* {
    margin:0px;
    padding:0px;
}
img {
    border:none;
}
ol,ul,li {
    list-style:none;
    float:left;
}
a {
    text-decoration:none;
}
body {
    background:#fff;
    color:#555;
    font-size:14px;
    font-family: "黑体";
}
table {
    margin:0 auto;
}
