// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*contents show style*/

#wrapper {
  margin:0 auto;
  overflow: hidden;
  background-color: sandybrown;;
}

h1 {
  text-align:center;
}
 /*#header style*/
div#header {
  width:100%;
  height:427px;
  background:yellow;
}
div#header div#banner_auto {
  width: 1024px;
  margin: 0 auto;
}
div#header div#banner_auto #banner_logo {
  position: relative;
  height: 250px;
  top:0px;
}
div#header div#banner_auto #banner_logo img#jimi_logo {
  position: absolute;
  top:20px;
  width:280px;
}
div#header div#banner_auto #banner_logo img#jimi_teach {
  position: absolute;
  right:0px;
  bottom:0px;
  width:490px;
}
div#header div#banner_auto #banner_logo img#shakeHands {
  position: absolute;
  left:0px;
  bottom:-201px;
}

/*#main_content style*/
div#main_content {
  width:960px;
  margin:0 auto;
}
div#main_content p {
  width:91.6%;
  padding-left:81px;
  font-size: 17px;
  line-height: 24px;
  text-indent: 34px;
}
div#main_content p#banner_description {
  width:100%;
  line-height: 34px;
  padding-left: 0px;
  text-indent: 151px;
  font-size:24px;
  color: darkgoldenrod;
}
div#main_content p#courseDescriptionAndPrice {
  text-indent: 0px;
  text-align: left;
}
div#main_content h1 {
  text-align:left;
  color:#bd0a01;
  font: bold 20px Arial,Helvetica,sans-serif
}
div#main_content div.title_content {
  clear:both;
  overflow: hidden;
}
div#main_content div.title_content img {
  float:left;
}
div#main_content div.title_content h1 {
  height:76px;
  float:left;
  margin-left:16px;
  line-height:76px;
}


  /*#clear line*/
div#clear {
  clear:both;
}

/*_footer style*/
#footer {
  clear: both;
  width:100%;
  background: url(image_path("contents/bottom_back.png")) repeat;
  overflow: hidden;
}
#footer #jimi_formation {
  padding-top:76px;
  padding-bottom: 43px;
  overflow: hidden;
  width:700px;
  margin:0 auto;
}
#footer p {
  float: left;
  width:100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color:#fff;
  margin:6px;
  text-align: center;
}
#footer #jimi_formation p span {
  float: left;
  text-align: left;
}
#footer #jimi_formation p span.footer_left {
  float: left;
  width:74%;
}
#footer #jimi_formation p span a {
  color:#fff;
}
.follow {
  float: right;
}
a#website {
  color:#fff;
}
a#website:hover {
  text-decoration: underline;
}




/*contents edit.html style*/
div#contents_edit_form {
  width:960px;
  margin:0 auto;
}
div#contents_edit_form .contents_edit_text_area {
  width:960px;
  padding:6px;
  height:80px;
}



/*contents index.html style*/
div#contents_index {
  width:960px;
  margin:0 auto;
}