// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#contact_us
{
   width:960px;
   margin:0 auto;
   background-color: sandybrown;
  overflow: hidden;
}

/*_form style*/
div#form_wrapper {
  width:260px;
  margin:0 auto;
  font:bold 19px "黑体";
  color:#000000;
}
h1#contact_us_h1 {
  padding-top:30px;
  padding-left: 50px;
  text-align:left;
}
label#stu_name_label {
  margin-left:40px;
}
input.stu_input {
  float:right;
}
div#stu_submit {
  float:right;
  width:172px;
  text-align:center;
}
input#stu_submit_button {
  width:60px;
  height:28px;
}