
<div id="relationship_index_wrapper">
  <div id="relationship_index_title">目前合作的团队有:</div>
  <table>
    <tbody>
    <% @relationships.each do |relationship| %>
        <tr>
          <td><a href="<%= relationship.team_url %>"><span><%= relationship.team_name %></span></a></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br />

  <%= link_to 'New Relationship', new_relationship_path %>

</div>

